@import '../../../globals.module.scss';

.frontendCardItem {
	position: relative;

	&.full {
		display: flex;
		flex-direction: column;
		position: relative;
	}
}

.notClickable {
	height: 100%;
}

.cvCard {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: 10px;
	padding: 0;
	box-shadow: $box-shadow;
	transition: height 1s ease-in-out;
	overflow: hidden;

	&.clickable {
		height: fit-content;
	}

	&:hover {
		cursor: pointer;
	}

	&.noHover {
		box-shadow: $box-shadow;
		&:hover {
			cursor: default;
		}
	}

	&.workexperience {
		.initialText, .showHidden {
			color: $color-text-secondary;
			background-color: $color-text-subheader;
		}
	}

	&.education {
		
		.initialText, .showHidden {
			color: $color-text-lightgrey;
			background-color: $color-card-bg-dark;
		}
	}

	&.internships {
		
		.initialText, .showHidden {
			color: $color-text-primary;
			background-color: $color-card-bg-pink;
		}
	}

	&.focused {
		height: unset;
		box-shadow: 0px 3px 10px #87393900;

		.wholeCard {
			&.hidden {
				opacity: 0;
				transform: translateY(-100%);
			}

			&.showHidden {
				transform: translateY(-100%);
				transition: transform 0s ease-in-out;
			}
		}
	}

	&.transitionShow {
		box-shadow: $box-shadow;
		.wholeCard {
		
			&.hidden {
				z-index: 0;
				height: 0;
				width: 100%;
				transform: translateY(-100%);
				transition: all 0s;
			}
		
			&.showHidden {
				z-index: 0;
				opacity: 1;
				height: fit-content;
				transition: transform 0.2s ease-out;
				transform: translateY(0%);
			}
		}

	}

	.initialText {
		z-index: 1;
		background-color: inherit;
		padding: 30px 10px;
		opacity: 1;
	}
	h2 {
		hyphens: auto;
	}

	p {
		font-size: 0.875rem;
		line-height: 1.1rem;
		white-space: pre-line;
	}

	h3, h4, p, ul {
		margin: 25px 0 10px 25px;
		margin: 25px 25px 10px;
		width: fit-content;
	}

	span, p, ul {
		font-family: $font-family-thin;
	}
	
	ul {
		list-style: outside;
		font-size: 0.75rem;
		padding-inline-start: 20px;
		max-width: 80%;
	
		li {
			margin: 10px auto;
		}
	}

	span {
		font-family: $font-family-thin;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		font-size: 0.75rem;
		margin: 10px 0 1px 25px;
		padding-bottom: 5px;
		width: fit-content;
		max-width: 70%;
		min-height: 2rem;
		color: inherit;

		p {
			margin-left: 0;

			&.educationCredits {
				font-style: italic;
			}
		}

		@media screen and (min-width: 950px) {
			max-width: unset;
			min-height: unset;
		}
	}

	.notUnderLined {
		&::after {
			content: ' ';
			color: inherit;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			border-bottom: 1px solid transparent;
			opacity: 0.2;
			transition: all 0.4s ease-in-out;
		}
	}

	.underLined {
		&::after {
			content: ' ';
			color: inherit;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			border-bottom: 1px solid;
			opacity: 0.2;
			transition: all 0.4s ease-in-out;
		}
	}
}



.plus {
	position: absolute;
	top: 15px;
	right: 25px;
	color: $color-nav-bg;
	transition: all 0.2s ease-in-out;

	&.up {
		transform: rotate(180deg);
		transition: all 0.2s ease-in-out;
		&:hover {
			transform: scale(1.2) rotate(180deg);
			color: $color-dark-background;
			transition: all 0.2s ease-in-out;
			cursor: pointer;
		}
	}

	&:hover {
		transform: scale(1.2) rotate(0deg);
		color: $color-dark-background;
		transition: all 0.2s ease-in-out;
		cursor: pointer;
	}
}

.cardContainer {
	display: grid;
	transition: all 0.2s ease-in-out;
	grid-template-columns: 1fr;
	grid-template-rows: max-content;
	gap: 20px;
	margin: 20px 0 100px;

	@media screen and (min-width: 800px) {
		grid-template-rows: max-content;
		gap: 20px;
		grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
		margin: 50px auto 100px;
		padding-bottom: 20px;
		height: 100%;
	}
}

.wholeCard {
	z-index: 0;
	width: 100%;
	padding: 0 10px 20px;
}