@import '../../../globals.module.scss';

.cvCard {
	position: relative;
	display: flex;
	flex-direction: column;
	
	width: 100%;
	height: 100%;
	border-radius: 5px;
	padding: 30px 10px;
	box-shadow: 0px 3px 10px #2121213b;
	transition: all 0.2s ease-in-out;
	border: 1px solid transparent;

	&:hover {
		cursor: pointer;
	}

	&.noHover {
		&:hover {
			cursor:default;
		}
	}

	&.white {
		background-color: $color-text-secondary;
		transition: transform 0.2s ease-in-out;
		height: 85%;

		.showHidden {
			background-color: $color-text-secondary;
			transform: translateY(100px);
			transition: transform 0.2s ease-in-out;
		}
	}

	&.second {
		color: $color-text-hint;
		background-color: $color-text-lightgrey;

		.showHidden {
			background-color: #e4e1e2;
			transform: translateY(87px);
			transition: transform 0.2s ease-in-out;
		}
	}

	&.third {
		background-color: $color-dark-background;
		color: $color-text-lightgrey;

		.showHidden {
			background-color: #393838;
			transform: translateY(87px);
			transition: transform 0.2s ease-in-out;
		}
	}

	&.first {
		color: $color-text-primary;
		background-color: $color-lightgrey-background;

		.showHidden {
			background-color: #fadfe6;
			transform: translateY(100px);
			transition: transform 0.2s ease-in-out;
		}
	}

	&.addBorder {
		z-index: 99;
		border: 1px solid $color-text-subheader;
		border-bottom: 0;
		border-radius: 5px 5px 0 0;
	}

	h3, h4, p, ul {
		margin: 25px 0 10px 25px;
		margin: 25px 25px 10px;
		width: fit-content;
	}
	
	p {
		font-size: 0.875rem;
		font-family: $font-family-thin;
		line-height: 1.1rem;

		white-space: pre-line;
	}
	
	span, ul {
		font-family: $font-family-thin;
	}
	
	span {
		font-size: 0.75rem;
		display: inline;
		margin: 10px 0 0 25px;
		padding-bottom: 5px;
		width: fit-content;
		max-width: 70%;
		border-bottom: 1px solid $color-text-hint;
	}
	
	ul {
		list-style: outside;
		font-size: 0.75rem;
		padding-inline-start: 20px;
		max-width: 80%;
	
		li {
			margin: 10px auto;
		}
	}
	
	
	h2 {
		color: $color-text-grey;
		hyphens: auto;
	}
}
			

.hidden {
	position: absolute;
	z-index: 0;
	height: 0;
	transition: all 0.2s ease-in-out 1s;
	width: 100%;
	color: transparent;
	padding: 10px 10px 20px;
	border: 1px solid $color-text-subheader;
    border-top: 0;
    border-radius: 0 0 5px 5px;
	opacity: 0;

	&.showHidden {
		z-index: 2;
		opacity: 1;
		color: inherit;
		min-height: 100px;
		height: fit-content;
		left: -1px;
		border-radius: 5px;
		transition: all 0.2s ease-in-out;
		border-radius: 0 0 5px 5px;
		width: calc(100% + 2px);
		box-shadow: 0 7px 5px rgba(50, 48, 48, 0.226);
	}
}

.plus {
	position: absolute;
	top: 15px;
	right: 25px;
	color: $color-nav-bg;
	transition: all 0.2s ease-in-out;

	&.up {
		transform: rotate(180deg);
		transition: all 0.2s ease-in-out;
		&:hover {
			transform: scale(1.2) rotate(180deg);
			color: $color-dark-background;
			transition: all 0.2s ease-in-out;
			cursor: pointer;
		}
	}

	&:hover {
		transform: scale(1.2) rotate(0deg);
		color: $color-dark-background;
		transition: all 0.2s ease-in-out;
		cursor: pointer;
	}
}

.cardContainer {
	display: grid;
	flex-wrap: wrap;
	margin: 0;
	transition: all 0.2s ease-in-out;
	grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
	grid-template-rows: max-content;
	gap: 50px;
	margin: 20px 0 100px;

	@media screen and (min-width: 600px) {
		grid-template-rows: max-content;
		gap: 20px;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
		margin: 50px auto 100px;
	}
}